/* Basic Style */
.page-content {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.logo {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.logo__img {
  width: 100%;
}

.logo__more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .logo {
    text-align: center;
  }
}

.all-tasks {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.elem__task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__row {
  display: flex;
}

/* сброс стилей >>>>>>*/

.completed__list,
.todo-list {
  margin: 0;
  padding: 0px;
}

.section__title,
.todo-list__elem {
  list-style: none;
}

input {
  outline: none;
}

/* <<<<сброс стилей */
.add-item__add-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.add-item__add-btn:hover {
  color: #0fc57c;
}

.elem__btn-edit {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;

}

.elem__btn-edit:hover {
  color: #3a3a3a;
}

.elem__btn-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

/* Heading */
.section__title,
.add-item__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.add-item__input,
.elem__input-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.add-item__input:focus,
.elem__input-task:focus {
  color: #333;
}

/* New Task */
.add-item__title {
  display: block;
  margin: 0 0 20px;
}

.add-item__input {
  width: 318px;
}


/* Task list */
.todo-list__elem {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list__elem>* {
  vertical-align: middle;
}

.elem__checkbox {
  margin: 0 10px;
  outline: none;
}

.elem__task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.elem__input-task {
  width: 226px;
  outline: none;
}


.btn-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed__list .elem__task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.elem__input-task {
  display: none;
}

.edit-mode .elem__input-task {
  display: inline-block;
  width: 224px;
}

.edit-mode .elem__task-name {
  display: none;
}

/* footer >>>>>>*/
.footer {
  border-top: 2px solid;
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a); */
}

.footer__links {
  padding: 25px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1140px; */
  margin: 0 auto;
  /* margin-left: 15px; */
  /* margin-right: 15px; */
}

.links__rss {
  display: block;
  position: relative;
  /* right: 25px; */
  margin-right: 15px;
  font-family: "Open Sans", sans-serif;
  width: 86px;
  height: 32px;
  background-image: url("./assets/svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
  transition: 0.3s all;

  /* margin-right: 25px; */
}

.links__rss__year {
  position: absolute;
  bottom: 0;
  right: 0;
  /*! добавить шрифт в index.html */
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -2px;
  color: #000;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s all;
}

.links__rss:hover .links__rss__year {
  right: -5px;
  letter-spacing: 0;
  transform: scale(1.05);
}

.links__rss:hover {
  transform: scale(1.05);

}

.links__youtube {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 100px;
  height: 50px;
  background-image: url("./assets/svg/youtube-2-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  transition: 0.3s all;
}

.links__youtube:hover {
  transform: scale(1.05);
}

.links__github {
  margin-left: 15px;

  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 82px;
  height: 32px;
  background-image: url("./assets/svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  transition: 0.3s all;
}

.github:hover {
  transform: scale(1.05);
}