/* footer >>>>>>*/
.footer {
  border-top: 2px solid;
  /* border-image-slice: 1; */
  /* border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a); */
}

.footer__links {
  padding: 25px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.links__rss {
  display: block;
  position: relative;
  margin-right: 15px;
  font-family: "Open Sans", sans-serif;
  width: 86px;
  height: 32px;
  background-image: url("./svg/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 25px;
  transition: 0.3s all;
}

.links__rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  /*! добавить шрифт в index.html */
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-weight: normal;
  letter-spacing: -2px;
  color: #000;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s all;
}

.links__rss:hover .links__rss-year {
  right: -5px;
  letter-spacing: 0;
  transform: scale(1.15);
}

.links__rss:hover {
  transform: scale(1.15);
}

.links__youtube {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 100px;
  height: 50px;
  background-image: url("./svg/youtube-2-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  transition: 0.3s all;
}

.links__youtube:hover {
  transform: scale(1.15);
}

.links__github {
  margin-left: 15px;
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 82px;
  height: 32px;
  background-image: url("./svg/github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  transition: 0.3s all;
}

.links__github:hover {
  transform: scale(1.15);
}